<ion-view title="Dashboard">
    <ion-tabs class="tabs-stable tabs-icon-bottom">
        <ion-tab title="News" icon="ion-card">
            <ion-content padding="true" class="has-header">
                <form>
                    <ion-list></ion-list>
                </form>
                <div class="list card">
                    <div class="item item-body">
                        <ion-list>
                            <ion-item href="#/menu">Latest News</ion-item>
                            <ion-item href="#/menu">Archive News</ion-item>
                            <ion-item href="#/menu">Read Later</ion-item>
                            <ion-item href="#/page">Syllabus</ion-item>
                            <ion-item href="#/page">Courses</ion-item>
                            <ion-item href="#/page">Order</ion-item>
                        </ion-list>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="User" icon="icon ion-person-stalker">
            <ion-content padding="true" class="has-header"></ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>