<ion-view view-title="Category Blind Effect">
    <ion-content ng-class="{expanded:isExpanded}" class="condensed-space no-padding animate-blinds">
    
        <div class="list">
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Toronto</h2>
                        <p>Drake's Raptastic Raptors</p>
                        <img src="img/city4.jpg" >
                    </a>
                </div>
                <div class="card energized-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Scotland</h2>
                        <p>Land of Unicorns</p>
                        <img src="img/city1.jpg">
                    </a>
                </div>
                <div class="card assertive-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Kyoto</h2>
                        <p>Cultural Experience</p>
                        <img src="img/city2.jpg">
                    </a>
                </div>
                <div class="card balanced-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>New Zealand</h2>
                        <p>More Than the Other Down Under</p>
                        <img src="img/city3.jpg">
                    </a>
                </div>
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Hawai'i</h2>
                        <p>Paradise Getaway</p>
                        <img src="img/city6.jpg">
                    </a>
                </div>
            </div>
            
    </ion-content>
</ion-view>
