<ion-view view-title="fadeSlideInRightSlideUp">
    
<ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <!-- Tab 1 content -->
    <ion-content ng-controller="fadeSlideInRightSlideUpCtrl" ng-class="{expanded:isExpanded}" class="condensed-space no-padding ">                    
        <div class="list animate-fade-slide-in-right">
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Toronto</h2>
                        <p>Drake's Raptastic Raptors</p>
                        <img src="img/city4.jpg" >
                    </a>
                </div>
                <div class="card energized-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Scotland</h2>
                        <p>Land of Unicorns</p>
                        <img src="img/city1.jpg">
                    </a>
                </div>
                <div class="card assertive-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Kyoto</h2>
                        <p>Cultural Experience</p>
                        <img src="img/city2.jpg">
                    </a>
                </div>
                <div class="card balanced-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>New Zealand</h2>
                        <p>More Than the Other Down Under</p>
                        <img src="img/city3.jpg">
                    </a>
                </div>
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Hawai'i</h2>
                        <p>Paradise Getaway</p>
                        <img src="img/city6.jpg">
                    </a>
                </div>
            </div>
            
    </ion-content>
  </ion-tab>

  <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    <!-- Tab 2 content -->
    <ion-content ng-controller="CategoryfadeSlideCtrl" ng-class="{expanded:isExpanded}" class="condensed-space no-padding animate-fade-slide-in">
    

        <div class="list">
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Toronto</h2>
                        <p>Drake's Raptastic Raptors</p>
                        <img src="img/city4.jpg" >
                    </a>
                </div>
                <div class="card energized-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Scotland</h2>
                        <p>Land of Unicorns</p>
                        <img src="img/city1.jpg">
                    </a>
                </div>
                <div class="card assertive-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Kyoto</h2>
                        <p>Cultural Experience</p>
                        <img src="img/city2.jpg">
                    </a>
                </div>
                <div class="card balanced-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>New Zealand</h2>
                        <p>More Than the Other Down Under</p>
                        <img src="img/city3.jpg">
                    </a>
                </div>
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Hawai'i</h2>
                        <p>Paradise Getaway</p>
                        <img src="img/city6.jpg">
                    </a>
                </div>
            </div>
            
    </ion-content>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <!-- Tab 3 content -->
    <ion-content ng-controller="CategoryBlindCtrl" ng-class="{expanded:isExpanded}" class="condensed-space no-padding animate-blinds">
    
        <div class="list">
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Toronto</h2>
                        <p>Drake's Raptastic Raptors</p>
                        <img src="img/city4.jpg" >
                    </a>
                </div>
                <div class="card energized-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Scotland</h2>
                        <p>Land of Unicorns</p>
                        <img src="img/city1.jpg">
                    </a>
                </div>
                <div class="card assertive-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Kyoto</h2>
                        <p>Cultural Experience</p>
                        <img src="img/city2.jpg">
                    </a>
                </div>
                <div class="card balanced-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>New Zealand</h2>
                        <p>More Than the Other Down Under</p>
                        <img src="img/city3.jpg">
                    </a>
                </div>
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image">
                        <h2>Hawai'i</h2>
                        <p>Paradise Getaway</p>
                        <img src="img/city6.jpg">
                    </a>
                </div>
            </div>
            
    </ion-content>
  </ion-tab>

</ion-tabs>

</ion-view>
